name: CI/CD pipelines

on:
    push:
        branches:
            - main
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: checkout
              uses: actions/checkout@v3
              with:
                fetch-depth: 0

            - name: setup node
              uses: actions/setup-node@v3
              with:
                node-version: 24

            - name: installing frontend modules
              working-directory: ./frontend
              run: npm install

            - name: install backend modules
              working-directory: ./backend
              run: npm install

            # scanning source files and repo history with trivy

            - name: scanning files
              uses: aquasecurity/trivy-action@v0.33
              with:
                scan-type: repo
                security-checks: secrets
                exit-code: 1

            # build and scan frontend image
            - name: building frontend image
              run: |
                docker build -t muzaffaribrar/idurar:frontend ./frontend

            - name: Trivy scanning frontend image for secrets
              uses: aquasecurity/trivy-action@v0.33
              with:
                scan-type: image
                image-ref: muzaffaribrar/idurar:frontend
                security-checks: secrets
                exit-code: 1

            # Push frontend image
            - name: Push images to docker hub
              env:
                DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
                DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
              run: |
                echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
                docker push muzaffaribrar/idurar:frontend

            #build and scan backend image
            - name: building docker image
              run: |
                docker build -t muzaffaribrar/idurar:backend ./backend

            - name: scanning backend image with trivy
              uses: aquasecurity/trivy-action@v0.33
              with:
                scan-type: image
                image-ref: muzaffaribrar/idurar:backend
                security-checks: secrets
                exit-code: 1

            # push backend image to docker hub
            - name: push to docker hub
              env:
                DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
                DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
              run: |
                echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
                docker push muzaffaribrar/idurar:backend

            # Deploy to AWS
            #- name: prepare ssh key securly
            #  run: |
            #    printf '%s' "{{secrets.KEY_PEM}}" > key.pem
            #    chmod 600 key.pem
            
            - name: Deploy to EC2
              env: 
                VITE_FILE_BASE_URL: "http://${{secrets.EC2_HOST}}:8888/"
                VITE_BACKEND_SERVER: "http://${{secrets.EC2_HOST}}:8888/"
                PROD: false
                DATABASE: ${{secrets.DATABASE}}
                JWT_SECRET: ${{secrets.JWT_SECRET}}
                NODE_ENV: "production"
                OPENSSL_CONF: '/dev/null'
                PUBLIC_SERVER_FILE: "http://${{secrets.EC2_HOST}}:3000/"    #just like "http://localhost:8888/"

              run: |
                echo "${{ secrets.KEY_PEM }}" > key.pem
                chmod 600 key.pem

                #ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@18.219.17.41 << EOF
                #mkdir -p /home/ubuntu/myproject
                #EOF

                scp -o StrictHostKeyChecking=no -i key.pem ./docker-compose.yml ubuntu@18.219.17.41:/home/ubuntu/myproject/docker-compose.yml

                ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@18.219.17.41 << EOF 

                # update system
                #sudo apt update -y

                #install docker 
                #sudo apt install docker.io

                #install docker compose
                #sudo apt-get install -y docker-compose-plugin

                #confirm installation
                #docker-compose version

                # creating project directory in server to add docker-compose.yml and .env
                # mkdir /home/ubuntu/myproject

                # copying docker-compose.yml to server
                #scp -o StrictHostKeyChecking=no -i key.pem ./docker-compose.yml ubuntu@18.219.17.41:/home/ubuntu/myproject/docker-compose.yml

                # going inside project directory to run further commands 
                cd /home/ubuntu/myproject

                cat > .env << ENV
          
                VITE_BACKEND_SERVER=$VITE_BACKEND_SERVER
                VITE_FILE_BASE_URL=$VITE_FILE_BASE_URL
                OPENSSL_CONF=$OPENSSL_CONF
                # PUBLIC_SERVER_FILE=$PUBLIC_SERVER_FILE
                ENV
                chmod 600 .env

                cat > backend.env << ENV
                PUBLIC_SERVER_FILE=$PUBLIC_SERVER_FILE
                DATABASE=$DATABASE
                VITE_DEV_REMOTE ='remote'
                JWT_SECRET=$JWT_SECRET
                NODE_ENV=$NODE_ENV
                PROD=$PROD
                ENV
                chmod 600 backend.env

                # pull images from dockerhub and up the containers
                docker-compose pull 
                docker-compose down
                docker-compose up -d --remove-orphans --force-recreate
                #docker exec myproject-backend-1 npm run setup

                EOF
            