name: CI/CD pipelines

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: for checkout
        uses: actions/checkout@v3

      - name: insatll node
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install backend modules
        working-directory: ./backend
        run: npm install

      - name: Install frontend modules
        working-directory: ./frontend
        run: npm install

      - name: setup docker buildx
        uses: docker/setup-buildx-action@v2

      - name: docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      #- name:  creating .env in frontend
        #run: |
         # echo "VITE_FILE_BASE_URL={{secrets.VITE_FILE_BASE_URL}}" >> ./frontend/.env
         # echo "VITE_BACKEND_SERVER={{secrets.VITE_BACKEND_SERVER}}" >> ./frontend/.env
         # echo "PROD={{secrets.PROD}}" >> ./frontend/.env

      - name: build and push image of frontend
        run: |
          docker build -t muzaffaribrar/idurar:frontend ./frontend
          docker push muzaffaribrar/idurar:frontend

      - name: build backend image and push it
        run: |
          docker build -t muzaffaribrar/idurar:backend ./backend
          docker push muzaffaribrar/idurar:backend

      - name: Deploy to EC2
        env: 
        #VITE_FILE_BASE_URL: "http://{{secrets.EC2_HOST}}:8888/"
          VITE_BACKEND_SERVER: "http://${{secrets.EC2_HOST}}:8888/"
          PROD: false
          DATABASE: ${{secrets.DATABASE}}
          JWT_SECRET: ${{secrets.JWT_SECRET}}
          NODE_ENV: "production"
          OPENSSL_CONF: '/dev/null'
          PUBLIC_SERVER_FILE: "http://${{secrets.EC2_HOST}}:8888/"    #just like "http://localhost:8888/"

        run: |
          echo " ${{secrets.KEY_PEM}}" > key.pem
          chmod 600 key.pem

          scp -o StrictHostKeyChecking=no -i key.pem ./docker-compose.yml ubuntu@3.19.185.105:/home/ubuntu/myproject/docker-compose.yml

          ssh -o StrictHostKeyChecking=no -i key.pem ubuntu@18.218.243.84 > EOF 

          # update system
          sudo apt update -y

          #install docker 
          sudo apt install docker.io

          #install docker compose
          sudo apt-get install -y docker-compose-plugin

          #confirm installation
          docker-compose version

          mkdir /home/ubuntu/myproject
          cd /home/ubuntu/myproject

          # create .env file
          #echo "VITE_FILE_BASE_URL=$VITE_FILE_BASE_URL" > .env
          #echo "VITE_BACKEND_SERVER=$VITE_BACKEND_SERVER" > .env
          #echo "PROD=$PROD" > .env
          #echo "DATABASE=$DATABASE" > .env
          #echo "JWT_SECRET=$JWT_SECRET" > .env
          #echo "NODE_ENV=$NODE_ENV" > .env
          #echo "OPENSSL_CONF=$OPENSSL_CONF" > .env
          #echo "PUBLIC_SERVER_FILE=$PUBLIC_SERVER_FILE" > .env

          cat > .env << ENV
          
          VITE_BACKEND_SERVER=$VITE_BACKEND_SERVER
          PROD=$PROD
          DATABASE=$DATABASE
          JWT_SECRET=$JWT_SECRET
          NODE_ENV=$NODE_ENV
          OPENSSL_CONF=$OPENSSL_CONF
          PUBLIC_SERVER_FILE=$PUBLIC_SERVER_FILE
          ENV
          chmod 600 .env

          # pull images from dockerhub and up the containers
          docker-compose pull 
          docker-compose up -d --remove-orphans --force-recreate
          docker exec myproject-backend-1 npm run setup

          EOF
      

